/*---------importaciones------------*/

@import url(header.css);
@import url(footer.css);

/*== estilos generales ==*/

.main__chair {
    margin-top: 60px;
}

.descripcion {
    padding: 20px;
}

@media (min-width: 780px) {
    .descripcion {
        align-items: center;
        display: flex;
        justify-content: space-between;
    }
}

@media (min-width: 1200px) {
    .descripcion{
        display: flex;
        justify-content: center;
    }
}

.caracteristicas {
    position: relative;
    padding: 20px 10px 0 10px;
    margin: 5px 10px;
}

.caracteristicas__title {
    font-size: 35px;
    margin: 8px 0;
}

.ul {
    font-size: 16px;
    line-height: 2;
    font-weight: bold;
}

/*--- colores ---*/

.colores {
    margin: 20px 0;
}

.botones {
    margin: 10px 3px;
}

/*--- pdf ---*/

.pdf__container {
    margin: 10px 0;
}

.button__pdf {
    border-radius: 3px;
    cursor: pointer;
    font-size: 13px;
    color: #fff;
    font-weight: 500;
    background: #000;
    margin: 20px 0;
    outline: none;
    border: none;
    width: 140px;
    height: 55px;
}

/*--- slider ---*/

.chair__slider {
    transition: all 300ms;
    width: 500px;
    margin: 0 10px; 
    position: relative;
    overflow: hidden;
}

.slider__ul {
    width: 100%;
}

.slider__li {
    list-style: none;
    width: 100%;
}

.slider__img {
    position: relative;
    z-index: -5000;
    object-fit: contain;
    height: 500px;
    width: 100%;
}