@import url('https://fonts.googleapis.com/css2?family=Acme&family=Cinzel&family=Monoton&display=swap');

.footer {
    font-family: 'acme';
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #111;
    color: #eee;
}

.footer-content {
    padding: 10px 0;
    justify-content: center;
    display: flex;
}

/*---box-model---*/

.box {
    flex-basis: 50%;
    padding: 10px 20px;
}

.box h2 {
    font-size: 1.125rem;
    font-weight: 400;
}

.content {
    margin: 20px 0 0 0;
}


/*---left---*/

.social {
    margin: 15px 0 0 0;
    position: relative;
    display: flex;
    align-items: center;
}

.social__icon {
    margin: 0 5px;
}

.social__img {
    width: 35px;
    height: 35px;
    border-radius: 5px;
    object-fit: cover;
}

.i {
    width: 45px;
    height: 45px;
    border-radius: 5px;
    object-fit: cover;
}

.left p {
    text-align: justify;
}

/*-----center-----*/

.place {
    display: flex; 
    flex-direction: column;
}

.place [class*="icon-"] {
    margin: 10px 0;
}

.text {
    font-weight: 400;
    font-size: 15px;
    padding-left: 10px;
}

/*---right---*/

.map {
    margin: 10px 0 ;
    padding: 10px 0;
    width: 90%;
    height: 150px;;
}


/*---responsive---*/

@media screen and (max-width: 800px) {
    .footer-content {
        flex-wrap: wrap;
        flex-direction: column;
    }

    .footer-content .box {
        margin: 5px 0;
    }
}

@media (min-width: 1500px) {
    .footer-content {
        padding: 0 10px;
        align-items: center;
        text-align: center;
    }

    .left p {
        text-align: center;
    }

    .social {
        justify-content: center;
    }

}

