
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Cinzel&family=Monoton&display=swap');

/*-----------------------Main---------------------*/

.main {
    font-family: 'cinze', sans-serif;
}

/*------------------------Intro page--------------------*/

.intro__container {
    margin: 10px;
    text-align: center;
    position: relative;
}


.intro__title {
    margin: 12px 0;
    font-size: 25px;
}

.intro__main {
    margin: 10px;
}

.intro__icon {
    text-align: center;
    display: block;
    font-size: 60px;
}

.intro__text {
    line-height: 1.4;
}

@media (min-width: 372px) {
    .intro__icon {
        font-size: 100px;
    }
}

.intro__flex {
    margin: auto;
}

@media (min-width: 872px) {
.intro__flex  {
   display: flex;
   justify-content: center;
   flex-wrap: nowrap;
}

.intro__container {
    width: 500px;
}

.intro__center {
    width: 450px;
}

}


/*------------------box-----------------*/

.main__title {
    text-align: center;
    margin: 10px;
}

/*-------------categoria de productos----------------*/



@media (min-width: 950px) {
    .all__figure {
        display: flex;
    }
}

.product__img {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.product__link {
    cursor:initial;
}

.figure {
    position: relative;
    text-align: center;
    overflow: hidden;
    margin: 20px 5px;
    cursor: pointer;
    width: 150px;
    height: 190px;
    border-radius: 2px;
}


.box__img{
    object-fit: cover;
    transition: all 0.5s ease-out;
    width: 150px;
    height: 100%;
}

.capa {
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease-out;
    text-align: center;
    background: rgba(0,0,0,0.7);
    position: absolute;
    width: 160px;
    height: 200px;
    top: 0;
}

.figure:hover > .capa {
    opacity: 1;
    visibility: visible;
}

.box__title {
    font-size: 18px;
    margin: 50% auto;
    max-width: 140px;
    text-align: center;
    color: #fff;
    font-weight: 400;
}

/*------------------------accsesories------------------*/

.all__accsesories {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/*-------------------------category-chair-----------------*/

.category__chairs {
    margin: auto;
    flex-wrap: wrap;
    justify-content: center;
    display: flex;
}

@media (min-width: 950px) {
    .category__chairs {
        max-width: 600px;
    }
}


/*---box-right---*/

.box-right {
    margin: 0 20px;
}

.content__right {
    width: 90%;
    margin: 10px auto;
    padding: 10px 20px;
    color: #fff;
    border-radius: 5px;
    background: #5a5a5a;
    box-shadow: 0 0 20px #333;;
    height: 650px;
}

@media (min-width: 400px) {
    .content__right {
        width: 320px;
        height: 600px;
    }
}


@media (min-width: 1300px) {
    .content__right {
        position: absolute;
        right: 50px;
    }
}

.content__right h2 {
    text-align: center;
    padding: 5px;
    margin: 3px;
}

.content__right p {
    margin: 5px 0;
    padding: 3px 0;
    text-align: justify;
}

.promocion {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.promo__ul {
    display: flex;
    margin-left: -100%;
    width: 500%;
}

.promo__li {
    width: 100%;
    list-style: none;
    height: 250px;
}

.promo__img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    animation: promo 0.5s infinite linear alternate;
    -webkit-box-reflect: below 10px linear-gradient(transparent, transparent,  rgba(255,255,255,0.4));
}

@media (min-width: 500px) {
    .promo__img {
        height: 230px;
    }
}

@keyframes promo {
    0%{transform: scale(0.8);}
    100%{transform: scale(1);}
}

/*--- left box ---*/

.box-left {
    margin: 0 20px;
    display: none;
}

.content__left {
    width: 90%;
    margin: 10px auto;
    padding: 10px 20px;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 20px #333;
    height: 650px;
}

@media (min-width: 400px) {
    .content__left {
        width: 320px;
        height: 600px;
    }
}


@media (min-width: 1500px) {
    .content__left {
        position: absolute;
        left: 50px;
    }

    .box-left {
        display: block;
    }
}

/*------------------sliders------------------*/

.slider {
    margin-top: 60px;
    position: relative;
    overflow: hidden;
}

.container__slider {
    width: 600%;
    display: flex;
}

.slider__li {
    width: 100%;
    height: max-content;
    list-style: none;
}

.slider__img {
    position: relative;
    z-index: -300;
    object-fit: cover;
    width: 100vw;
    max-height: 120%;
    min-height: 140px;
}

@media (min-width: 500px) {
    .slider {
        margin-top: 60px;
    }

    .container__slider {
        width: 100%;
    }

    .slider__li {
        width: 100%;
    }
    
}


/*------------botones--slider---------------*/
.slider__btn {
    width: 25px;
    height: 25px;
    top: 50%; 
    position: absolute;
    z-index: 5000;
    background: rgba(225, 255, 255, 0.5);
    transform: translateY(-50%);
    font-size: 20px;
    font-weight: bold;
    font-family: monospace;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}

@media (min-width: 450px) {
    .slider__btn {
        width: 35px;
        height: 35px;
        font-size: 27px;
    }
}

@media (min-width: 650px) {
    .slider__btn {
        width: 45px;
        height: 45px;
        font-size: 35px;
    }
}

@media (min-width: 1250px) {
    .slider__btn {
        width: 55px;
        height: 55px;
        font-size: 44px;
    }
}

.slider__btn:hover {
    background: #fff;
}

.slider__btn--left {
    left: 15px;
}

.slider__btn--right {
    right: 15px;
}


